form {
  div {
    input {
      max-width: 100%;
    }
  }
  div.buttons {
    button{
      display: contents;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}